body {
    background-color: #F5F1ED;
    color: #252323;
    font-family: 'Inter', sans-serif;
    align-content: center;
}

input {
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.box {
    background-color: #F5F1ED;
    border-radius: 10px;
    border-color: #70798C;
    border-style: solid;
    margin: 20px;
    padding: 10px;
    width: fit-content;
    display: flex;
    align-self: center;
}

div.sub-box {
    background-color: #F5F1ED;
    border-radius: 10px;
    border-color: #70798C;
    border-style: solid;
    margin: 20px;
    padding: 10px;
    width: 30%;
    display: inline-block;
    line-height: 1.5;

}

div.sidebar {
    background-color: #DAD2BC;
    width: fit-content;
    height: 100%;
    position: fixed;
    overflow: auto;
    margin: 0;
    padding-top: 8%;
    padding-left: 5px;
    padding-right: 5px;
}

div.content {
    margin-left: 8%;
    padding: 1px 16px;
    height: 100%;
    align-content: center;
}

a {
    color: #252323;
    background-color: #F4F1ED;
    display: block;
    margin-inside: 15px;
    margin-outside: 20px;
    align-content: center;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #70798C;
    text-decoration: none;

}

a.sidebarbutton {
    color: #252323;
    background-color: #F5F1ED;
    display: block;
    padding: 20px;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #70798C;
    text-decoration: none;
    width: 60%;
}

div.chart-container {
    margin: 20px;
    padding: 10px;
    width: 30%;
    display: flex;
    align-self: center;
}


table {
    border-collapse: collapse;
    border-style: none;

    margin: 20px;
    padding: 10px;
    width: 30%;
    display: flex;
    align-self: center;
}

tr {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: white;
    fill-opacity: 0.8;

}

td, th {
    margin: 20px;
    padding: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label.input {
    width: 50px;
    display: inline-block;
}

input {
    margin: 5px;
}
