<!DOCTYPE html>
<html>
<head>
    <Title>New User Registration</Title>
</head>
<body>
    <h1>New User Registration</h1>
    <form method="POST">
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname" required><br>
        <label for="email">Email Address:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
               required><br>
        <input type="submit" value="Register">

    </form>
</body>
</html>
